1. Write a python program to interchange first and last elements in a list
    
      Sample List: `[AI/ML, Game Dev, Soft. Dev, Web Dev]`
      
      Expected Output: `[Web Dev, Game Dev, Soft. Dev, AI/ML]`

In [9]:
# Enter your code here
Simp = ['AI/ML','Game Dev','Soft Dev','Web Dev']
print(f'Orignal list is over here {Simp}')
Simp[0]=Simp[-1] 
Simp[3] = Simp[0]
print(f'Updated list is over here {Simp}')

Orignal list is over here ['AI/ML', 'Game Dev', 'Soft Dev', 'Web Dev']
Updated list is over here ['Web Dev', 'Game Dev', 'Soft Dev', 'Web Dev']

2. Write a Python program to add all the items in the list

      Sample List: `[1, 2, 3, 4, 5, 6, 7]`
      
      Expected Output: Sum of the items list = `28`

In [ ]:
# Enter your code here

3. Write a python program to find the average of the list
    
    Sample List: `[1, 2, 3, 4, 5, 6, 7]`
    
    Expected Output: `4`

In [ ]:
# Enter your code here

4. Write a python program to multiply all numbers in list
    
    Sample List: `[1, 2, 3, 4]`
    
    Expected Output: `24`

In [ ]:
# Enter your code here

5. Write a python program to print even numbers

    Sample List: `[1, 2, 3, 4, 5, 6, 7, 8, 9]`
    
    Expected Output: `2, 4, 6, 8 are even numbers`

In [ ]:
# Enter your code here

6. Write a python program to add all even numbers and odd numbers to a list
    
    Sample List: `[1, 2, 3, 4, 5, 6, 7, 8, 9]`
    
    Expected Output
    
    Even Num List: `[2, 4, 6, 8]`
    
    Odd Num List: `[1, 3, 5, 7, 9]`

In [ ]:
# Enter your code here

7. Write a python program to print odd numbers

    Sample List: `[1, 2, 3, 4, 5, 6, 7, 8, 9]`
    
    Expected Output: `1, 3, 5, 7, 9 are odd numbers`

In [ ]:
# Enter your code here

8. Python program to add all positive numbers in a new list

    Sample List: `[1, -2, 3, 4, -5, 6, 7, -8, 9]`
    
    Expected Output: `[1, 3, 4, 6, 7, 9]`

In [2]:
# Enter your code here